{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Manage Category</h2>
    <a href="{% url 'create_category' %}" class="btn btn-primary mb-3">Create New Category</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>            
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if categories %}
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>                    
                    <td>{{ category.created_at }}</td>
                    <td>                        
                        <a href="{% url 'delete_category' category.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No questions found.</td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
