{% extends 'header.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Manage Policy</h2>
    <a href="{% url 'create_policy' %}" class="btn btn-primary mb-3">Create New Policy</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>     
                <th>Category</th>       
                <th>Premium Amount</th>       
                <th>Start Date</th>
                <th>End Date</th>       
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if policy %}
            {% for p in policy %}
                <tr>
                    <td>{{ p.policy_name }}</td>                    
                    <td>{{ p.category}}</td>
                    <td>{{ p.premium_amount }}</td>                    
                    <td>{{ p.start_date}}</td>
                    <td>{{ p.end_date}}</td>
                    <td>                        
                        <a href="{% url 'delete_policy' p.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No Policies found.</td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
